@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h6>Latte</h6>
    <p>@ViewBag.Latte1</p>
    <p>@ViewBag.Latte2</p>
</div>

<div>
    <h6>Mocca</h6>
    <p>@ViewBag.Mocca1</p>
    <p>@ViewBag.Mocca2</p>
</div>
